export("learn.tbn",
       "learn.trm",
       "scores.tbn",
       "scores.trm",
       "sensi.tbn",
       "sensi.trm",
       "generateSample.tbn")

import(tweedie)
importFrom("statmod","rinvgauss")
importFrom("stats","glm")
